[mesh]
# resolution of figure used to generate the boolean mask
dpi = 500
# number of pixels to pad boolean mask
pad = 100
# minimum cell spacing (within text)
dmin = 7.5
# maximum cell spacing (outside of text)
dmax = 100.
# if true all intermediate jigsaw output will be cleaned up
use_tmpdir = True

[render]
# how many times to scale the approximate minimum area
factor = 2.
# to use a cmocean colormap, prefix with cmo
cmap = cmo.dense
# resolution of the rendered logo
dpi = 300.
